<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>送货地址</title>
    <link rel="shortcut icon" href="#"/>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/address.js"></script>
</head>
<body class="pt-2">
<!--<div class="top-toolbar row">-->

<!--</div>-->

<div id="table-toolbar">
    <div class="btn-group" role="group" style="width: 500px">
        <button id="refresh-btn" class="btn btn-primary" title="刷新">
            <i class="bi bi-arrow-clockwise icon"></i>
        </button>
        <button id="add-btn" class="btn btn-primary" title="新增一行">
            <i class="bi bi-plus-square icon"></i>
        </button>
        <button id="delete-btn" class="btn btn-primary" title="删除">
            <i class="bi bi-trash icon"></i>
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：送货地址</a>
    </div>

    <div class="col-md-3 mb-2" style="margin-bottom: 0!important;">
        <input id="sh" type="text" class="form-control" placeholder="送货地址" autocomplete="off">
    </div>
    <div class="col-md-3 mb-2" style="margin-bottom: 0!important;">
        <input id="sf" type="text" class="form-control" placeholder="收费站" autocomplete="off">
    </div>
    <div class="col-md-2 mb-2" style="margin-bottom: 0!important;">
        <button id="select-btn" class="btn btn-primary">
            <i class="bi bi-search icon"></i>
            查询
        </button>
    </div>
</div>

<div id="upd_1" class="alert alert-success alert-dismissible" hidden="hidden" style="float:right;margin-bottom: 0;margin-top: 20px;margin-right: 10px;">
    <strong>保存成功!</strong>
</div>
<div id="upd_2" class="alert alert-danger alert-dismissible"  hidden="hidden" style="float:right;margin-bottom: 0;margin-top: 20px;margin-right: 10px;">
    <strong>保存失败!</strong>
</div>

<div class="table-div border-top">
    <table id="addressTable"></table>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>