<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理系统</title>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../js/main.js"></script>
    <link rel="stylesheet" href="../css/main.css">

    <script type="text/javascript">

        // $(function () {
        //
        // });

        $(function () {
            // $ajax({
            //     type: 'post',
            //     url: '/user/getPower2',
            //     data:{
            //         id:$.session.get('user_id'),
            //     },
            // }, false, '', function (res) {
            //     if (res.code == 200) {
            //         for (var i = 0; i < res.data.length; i++) {
            //             if((res.data[i].viewName=="送货地址" && res.data[i].sel!="√") || $.session.get('power')!="管理员"){
            //                 $('#address').hide();
            //             }else if((res.data[i].viewName=="客户信息" && res.data[i].sel!="√") || $.session.get('power')!="管理员"){
            //                 $('#kehu').hide();
            //             }else if((res.data[i].viewName=="产品信息" && res.data[i].sel!="√") || $.session.get('power')!="管理员"){
            //                 $('#product').hide();
            //             }else if((res.data[i].viewName=="挂车信息" && res.data[i].sel!="√") || $.session.get('power')!="管理员"){
            //                 $('#guache').hide();
            //             }else if((res.data[i].viewName=="车辆管理信息" && res.data[i].sel!="√") || $.session.get('power')!="管理员"){
            //                 $('#vehicle').hide();
            //             }else if((res.data[i].viewName=="司机信息" && res.data[i].sel!="√") || $.session.get('power')!="管理员"){
            //                 $('#driver').hide();
            //             }else if((res.data[i].viewName=="车牌组合信息" && res.data[i].sel!="√") || $.session.get('power')!="管理员"){
            //                 $('#combination').hide();
            //             }else if((res.data[i].viewName=="数据表" && res.data[i].sel!="√") || $.session.get('power')!="管理员"){
            //                 $('#shujv').hide();
            //             }else if((res.data[i].viewName=="司机录入" && res.data[i].sel!="√") || $.session.get('power')!="管理员"){
            //
            //             }else if((res.data[i].viewName=="工资查询" && res.data[i].sel!="√") || $.session.get('power')!="管理员"){
            //                 $('#salary').hide();
            //             }else if((res.data[i].viewName=="图表生成" && res.data[i].sel!="√") || $.session.get('power')!="管理员"){
            //                 $('#tubiao').hide();
            //             }else if((res.data[i].viewName=="用户管理" && res.data[i].sel!="√") || $.session.get('power')!="管理员"){
            //                 $('#userInfo').hide();
            //             }else if((res.data[i].viewName=="操作日志" && res.data[i].sel!="√") || $.session.get('power')!="管理员"){
            //                 $('#log').hide();
            //             }else if((res.data[i].viewName=="工资配置" && res.data[i].sel!="√") || $.session.get('power')!="管理员"){
            //                 $('#payroll').hide();
            //             }
            //         }
            //     }
            // });

            $('a').click(function () {
                let src = $(this).data('src');
                if (src != '' && src != undefined) {
                    if(src=="退出"){
                        window.location.href="../index.html"
                    }else{
                        $('#iframe').attr('src', src);
                    }
                    // if ($('#navbarSupportedContent').hasClass('show')) {
                    //     $('.navbar-toggler').click();
                    // }
                }
            });


        })

    </script>

    <style>
        .img-responsive {
            display: inline-block;
            height: auto;
            max-width: 100%;
        }
    </style>
</head>
<body style="padding-top: 60px;margin: 0" class="row bg">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
     style="min-height: 60px;width: 100%;position: absolute;top: 0;left: 0;z-index: 1000000;">
    <!--    background-color: white !important;-->
    <a class="navbar-brand mb-0 h1" href="main.html">
        <img src="../img/logo.png" class="d-inline-block align-top rounded" alt="" style="height: 40px"/>
        管理系统
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="peizhi" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white !important;">
                    配置
                </a>
                <div class="dropdown-menu" aria-labelledby="peizhi">
                    <a id="address" class="dropdown-item" data-src="address.html" style="color: black !important;">送货地址</a>
                    <a id="kehu" class="dropdown-item" data-src="customer.html" style="color: black !important;">客户信息</a>
                    <a id="product" class="dropdown-item" data-src="product.html" style="color: black !important;">产品信息</a>
                    <a id="vehicle" class="dropdown-item" data-src="vehicle.html" style="color: black !important;">车辆信息管理</a>
                    <a id="driver" class="dropdown-item" data-src="driver.html" style="color: black !important;">司机信息</a>
                    <a id="combination" class="dropdown-item" data-src="combination.html" style="color: black !important;">车牌组合信息</a>
                    <a id="payroll" class="dropdown-item" data-src="payroll.html" style="color: black !important;">工资配置</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="shujvguanli" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white !important;">
                    数据管理
                </a>
                <div class="dropdown-menu" aria-labelledby="shujvguanli">
                    <a id="shujv" class="dropdown-item" data-src="shujv.html" style="color: black !important;">数据表</a>
<!--                    <a class="dropdown-item" data-src="" style="color: black !important;">司机录入</a>-->
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="tongji" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white !important;">
                    统计汇总
                </a>
                <div class="dropdown-menu" aria-labelledby="tongji">
                    <a id="salary" class="dropdown-item" data-src="salary.html" style="color: black !important;">工资查询</a>
                    <a id="tubiao" class="dropdown-item" data-src="tubiao.html" style="color: black !important;">图表生成</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a  class="nav-link dropdown-toggle" href="#" id="zhanghao" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white !important;">
                    账号管理
                </a>
                <div class="dropdown-menu" aria-labelledby="zhanghao">
                    <a id="userInfo" class="dropdown-item" data-src="userInfo.html" style="color: black !important;">用户管理</a>
                    <a id="log" class="dropdown-item" data-src="log.html" style="color: black !important;">操作日志</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav float-md-right">
            <li class="nav-item">
                <a href="#" class="nav-link" data-src="退出" style="color: white !important;">退出</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-src="" style="color: white !important;">版本：v0.2</a>
            </li>
        </ul>
    </div>
</nav>

<div class="embed-responsive embed-responsive-1by1 h-100">
    <iframe id="iframe" class="embed-responsive-item" src="main-item.html"></iframe>
</div>
</body>
</html>